## Projet de session Machine Learning : 
`Analyse des facteurs prédictifs pouvant amener à un étudiant à graduer ou abandonner l'université.`

### Description du jeu de données :
- `Etat civil (Catégorique)` :
  - 1 : Célibataire
  - 2 : Marié(e)
  - 3 : Veuf
  - 4 : Divorcé(e)
  - 5 : Union de fait
  - 6 : Séparés légalement
- `Mode d'application (Catégorique)` (À revoir car l'info est complexe) :
  - 1 : 1ère phase – contingent général
  - 2 : Ordonnance No. 612/93 (À voir ça veut dire quoi)
  - 3 : 1ère phase – contingent spécial (île des Açores ou "Azores Island" en anglais)
  - 4 : Titulaires d'autres formations supérieures
  - 5 : Ordonnance No. 854-B/99 (À voir ça veut dire quoi)
  - 6 : Étudiant international (licence ou "bachelor" en anglais)
  - 7 : 1ère phase – contingent spécial (île de Madère ou "Madeira Island" en anglais)
  - 8 : 2e phase – contingent général
  - 9 : 3ème phase – contingent général
  - 10 : Ordonnance No. 533-A/99, point b2) (Plan différent)
  - 11 : Ordonnance No. 533-A/99, point b3) (Autre institution)
  - 12 : Plus de 23 ans
  - 13 : Transfert
  - 14 : Changement de cours ou "Change in course" en anglais
  - 15 : Titulaires d'un diplôme de spécialisation technologique
  - 16 : Changement d'établissement/de cours
  - 17 : Titulaires d'un diplôme de cycle court
  - 18 : Changement d'établissement/de cours (International)
- `L'ordre d'application (Numérique)` :
  - Valeurs numériques de 0 à 9
  - L'ordre dans lequel l'étudiant a postulé (0 - premier choix, et 9 - dernier choix)
- `Cours (Catégorique)` :
  - 1 : Technologies de production de biocarburants
  - 2 : Conception d'animation et multimédia 
  - 3 : Service Social (présence en soirée)
  - 4 : Agronomie
  - 5 : Conception de communications
  - 6 : Soins infirmiers vétérinaires
  - 7 : Génie informatique
  - 8 : Équiniculture
  - 9 : Gestion
  - 10 : Service social
  - 11 : Tourisme
  - 12 : Soins infirmier
  - 13 : Hygiène buccale (Dentiste ou Hygiéniste dentaire) ou "Oral Hygiene" en anglais
  - 14 : Gestion de la publicité et du marketing
  - 15 : Journalisme et communication
  - 16 : Éducation de base ou "Basic Education" en anglais
  - 17 : Gestion (présence en soirée)
- `Présence de jour/soir (Catégorique)` :
  - 0 : Soir ou "Evening" en anglais
  - 1 : Jour ou "Daytime" en anglais
- `Qualification antérieure ou Diplôme antérieure (Catégorique)` :
  - 1 : Étude secondaire
  - 2 : Étude supérieure – baccalauréat
  - 3 : Étude supérieure – diplôme
  - 4 : Étude supérieure – maîtrise
  - 5 : Étude supérieure – doctorat
  - 6 : Fréquence d'étude supérieure ou "Frequency of higher education" en anglais (À revoir)
  - 7 : 12e année de scolarité – non terminée 
  - 8 : 11e année de scolarité – non terminée 
  - 9 : Autre – 11e année de scolarité
  - 10 : 10e année de scolarité
  - 11 : 10e année de scolarité - non terminée
  - 12 : Étude de base de 3e cycle (9ème/10ème/11ème année) ou équivalent
  - 13 : Étude de base de 2e cycle (6e/7e/8e année) ou équivalent
  - 14 : Cours de spécialisation technologique
  - 15 : Étude supérieure – diplôme (1er cycle)
  - 16 : Cours technique supérieur professionnel
  - 17 : Étude supérieure – maîtrise (2e cycle)
- `Nationalité (Catégorique)` :
  - 1 : Portugais
  - 2 : Allemand
  - 3 : Espagnol
  - 4 : Italien
  - 5 : Néerlandais
  - 6 : Anglais (UK)
  - 7 : Lituanien
  - 8 : Angolais
  - 9 : Cap-Verdien
  - 10 : Guinéen
  - 11 : Mozambicain
  - 12 : Santoméen
  - 13 : Turc
  - 14 : Brésilien
  - 15 : Roumain
  - 16 : Moldavie (République de)
  - 17 : Mexicain
  - 18 : Ukrainien
  - 19 : Russe
  - 20 : Cubain
  - 21 : Colombien
- `Qualification de la mère ou du père (Catégorique)` :
  - 1 : Étude secondaire – 12e année de scolarité ou équivalent
  - 2 : Étude supérieure – baccalauréat
  - 3 : Étude supérieure – diplôme
  - 4 : Étude supérieure – maîtrise
  - 5 : Étude supérieure – doctorat
  - 6 : Fréquence d'étude supérieure ou "Frequency of higher education" en anglais (À revoir)
  - 7 : 12e année de scolarité – non terminée 
  - 8 : 11e année de scolarité – non terminée 
  - 9 : 7ème année (ancienne) (À voir ça veut dire quoi)
  - 10 : Autre – 11e année de scolarité
  - 11 : Cours complémentaire de 2ème année du lycée (high school)
  - 12 : 10ème année de scolarité
  - 13 : Cours de commerce général
  - 14 : Étude de base de 3e cycle (9ème/10ème/11ème année) ou équivalent
  - 15 : Cours complémentaire de lycée (high school)
  - 16 : Cours technico-professionnel
  - 17 : Cours complémentaire de lycée (high school) – non terminé
  - 18 : 7ème année de scolarité
  - 19 : 2ème cycle du cursus général du lycée (high school)
  - 20 : 9e année de scolarité – non terminée
  - 21 : 8ème année de scolarité
  - 22 : Cours Général d'Administration et de Commerce
  - 23 : Comptabilité et administration supplémentaires
  - 24 : Inconnu
  - 25 : Ne sait ni lire ni écrire
  - 26 : Savoir lire sans avoir une 4ème année de scolarité
  - 27 : Étude de base de 1er cycle (4e/5e année) ou équivalent
  - 28 : Étude de base de 2e cycle (6e/7e/8e année) ou équivalent
  - 29 : Cours de spécialisation technologique
  - 30 : Étude supérieure – diplôme (1er cycle)
  - 31 : Parcours d'études supérieures spécialisées
  - 32 : Cours technique supérieur professionnel
  - 33 : Étude supérieure – maîtrise (2e cycle)
  - 34 : Étude supérieure – doctorat (3e cycle)
- `Occupation de la mère ou du père (Catégorique)` :
  - 1 :
  - 2 :
  - 3 :
  - 4 :
  - 5 :
  - 6 :
  - 7 :
  - 8 :
  - 9 :
  - 10 :
  - 11 :
  - 12 :
  - 13 :
  - 14 :
  - 15 :
  - 16 :
  - 17 :
  - 18 :
  - 19 :
  - 20 :
  - 21 :
  - 22 :
  - 23 :
  - 24 :
  - 25 :
  - 26 :
  - 27 :
  - 28 :
  - 29 :
  - 30 :
  - 31 : 
  - 32 :
  - 33 :
  - 34 :
  - 35 :
  - 36 :
  - 37 : 
  - 38 :
  - 39 :
  - 40 :
  - 41 :
  - 42 :
  - 43 :
  - 44 :
  - 45 :
  - 46 :

## Premier coup d'oeil du jeu de données et conversion des noms de caractéristiques

In [25]:
# Importer les librairies nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# Instancier le jeu de données
data = pd.read_csv("./dataset.csv")

In [27]:
# Visualiser les données rapidement 
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [33]:
data.columns

Index(['Etat civil', 'Mode application', 'Ordre application', 'Cours',
       'Presence jour/soir', 'Qualification antérieure', 'Nationalite',
       'Qualification mere', 'Qualification pere', 'Occupation mere',
       'Occupation pere', 'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [32]:
# Convertir les noms de caractéristiques en français
nom_fr = {"Marital status": "Etat civil", "Application mode": "Mode application", "Application order": "Ordre application",
          "Course": "Cours", "Daytime/evening attendance": "Presence jour/soir", "Previous qualification": "Qualification antérieure",
          "Nacionality": "Nationalite", "Mother's qualification": "Qualification mere", "Father's qualification": "Qualification pere",
          "Mother's occupation": "Occupation mere", "Father's occupation": "Occupation pere"}
data = data.rename(columns=nom_fr)
data

,Etat civil,Mode application,Ordre application,Cours,Presence jour/soir,Qualification antérieure,Nationalite,Qualification mere,Qualification pere,Occupation mere,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [34]:
data.describe()

,Etat civil,Mode application,Ordre application,Cours,Presence jour/soir,Qualification antérieure,Nationalite,Qualification mere,Qualification pere,Occupation mere,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,6.886980,1.727848,9.899186,0.890823,2.531420,1.254521,12.322107,16.455244,7.317812,...,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,0.605747,5.298964,1.313793,4.331792,0.311897,3.963707,1.748447,9.026251,11.044800,3.997828,...,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.000000,2.000000,3.000000,5.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,8.000000,1.000000,10.000000,1.000000,1.000000,1.000000,13.000000,14.000000,6.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,12.000000,2.000000,13.000000,1.000000,1.000000,1.000000,22.000000,27.000000,10.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,6.000000,18.000000,9.000000,17.000000,1.000000,17.000000,21.000000,29.000000,34.000000,32.000000,...,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000