In [3]:
from basic_fixture import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

data, target = Dataset().get_data()
print(data)
print(target)

      Marital status  Application mode  Application order  Course  \
0                  1                 8                  5       2
1                  1                 6                  1      11
2                  1                 1                  5       5
3                  1                 8                  2      15
4                  2                12                  1       3
...              ...               ...                ...     ...
4419               1                 1                  6      15
4420               1                 1                  2      15
4421               1                 1                  1      12
4422               1                 1                  1       9
4423               1                 5                  1      15

      Daytime/evening attendance  Previous qualification  Nacionality  \
0                              1                       1            1
1                              1                       1            1
2                              1                       1            1
3                              1                       1            1
4                              0                       1            1
...                          ...                     ...          ...
4419                           1                       1            1
4420                           1                       1           19
4421                           1                       1            1
4422                           1                       1            1
4423                           1                       1            9

      Mother's qualification  Father's qualification  Mother's occupation  \
0                         13                      10                    6
1                          1                       3                    4
2                         22                      27                   10
3                         23                      27                    6
4                         22                      28                   10
...                      ...                     ...                  ...
4419                       1                       1                    6
4420                       1                       1                   10
4421                      22                      27                   10
4422                      22                      27                    8
4423                      23                      27                    6

      ...  Curricular units 2nd sem (credited)  \
0     ...                                    0
1     ...                                    0
2     ...                                    0
3     ...                                    0
4     ...                                    0
...   ...                                  ...
4419  ...                                    0
4420  ...                                    0
4421  ...                                    0
4422  ...                                    0
4423  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 35 columns]
['Dropout' 'Graduate' 'Dropout' ... 'Dropout' 'Graduate' 'Graduate']